<mat-toolbar color="primary">
  <mat-toolbar-row>
   <span>Person Profile - Add a Person along with their hobbies</span>
 </mat-toolbar-row>
</mat-toolbar>
<mat-select [(ngModel)]="backendType">
  <mat-option value="spring">Spring Backend</mat-option>
</mat-select>
<!-- <button mat-raised-button color="primary" (click)="doAction()">Basic</button> -->
<mat-card>
  <form #form="ngForm">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="app.name" name="name" required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Age" [(ngModel)]="app.age" name="age" required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Hobbies" [(ngModel)]="app.hobbies" name="hobbies" required/>
    </mat-form-field>
    <button mat-raised-button (click)="doSubmit()" color="primary" [disabled]="!form.valid">Submit</button>
  </form>
</mat-card>
<br />
<div class="table mat-table mat-elevation-z8">
<div class="table-row">
  <div class="table-cell">Name</div>
  <div class="table-cell">Age</div>
  <div class="table-cell">Hobbies</div>
  <div class="table-cell">Actions</div>
</div>
<div *ngFor="let person of persons" class="table-row">
  <p class="table-cell">{{person.name}}</p>
  <p class="table-cell">{{person.age}}</p>
  <mat-list class="table-cell">
    <mat-list-item *ngFor="let hobby of person.hobbies; let index = index">{{person.hobbies[index]}}</mat-list-item>
  </mat-list>
  <div class="table-cell">
    <button mat-raised-button (click)="delete(person)" class="mat-primary left">Delete</button>
    <button mat-raised-button (click)="openDialog(person)" class="mat-primary right">Edit</button>
  </div>
</div>
