<button mat-raised-button color="primary" (click)="doAction()">Basic</button>
<mat-card>
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="app.name" name="name"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Age" [(ngModel)]="app.age" name="age"/>
    </mat-form-field>
    <button mat-raised-button (click)="doSubmit()" color="primary">Submit</button>
  </form>
</mat-card>
<div *ngFor="let person of persons">
  <p>{{person.name}}</p>
  <p>{{person.age}}</p>
  <ul>
    <li *ngFor="let hobby of person.hobbies">{{hobby}}</li>
  </ul>
</div>
