<form [formGroup]="userForm" (ngSubmit)="submit()">
  <h1>User - EFORM7</h1>
  <textarea name="eForm7" formControlName="eForm7" cols="20" rows="20"></textarea>
  <h3>Admin - EFORM7</h3>
  <textarea name="eForm7Admin" formControlName="eForm7Admin" cols="20" rows="20"></textarea>
  <h1>User - EPREMIUM</h1>
  <textarea name="ePremium" formControlName="ePremium" cols="20" rows="20"></textarea>
  <h3>Admin - EPREMIUM</h3>
  <textarea name="ePremiumAdmin" formControlName="ePremiumAdmin" cols="20" rows="20"></textarea>
  <input type="submit" value="submit" />
</form>
